.detailsDay {
  position: absolute;
  left: 1%;
  top: 10px;
  width: 20%;
}

.detailsNight {
  position: absolute;
  left: 21.2%;
  top: 10px;
  width: 20%;
}

/*-- Responsive Code --*/

/* @media screen and (max-width: 1920px) {
  .details {
    width: 50%;
  }
}

@media screen and (max-width: 1440px) {
  .details {
    width: 55%;
  }
}

@media screen and (max-width: 1280px) {
  .details {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .details {
    width: 75%;
  }
}

@media screen and (max-width: 966px) {
  .details {
    width: 90%;
  }
} */
